DATABASE_URL=postgresql://ffpromo:ffpromo@localhost:5432/ffpromo
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_TASK_QUEUE=promotion
LD_ACCESS_TOKEN=
LD_BASE_URL=https://app.launchdarkly.com
LD_API_VERSION=20240415
LD_PROJECT_KEY=default
PROMETHEUS_BASE_URL=http://localhost:9090
PROMETHEUS_BEARER_TOKEN=
PORT=3000
API_KEY=
